.landing-section .landing-intro-container {
  background: #fafafa;
}

.landing-section .landing-intro-container .landing-intro-wrapper {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.landing-section .landing-intro-container .landing-intro-wrapper h6 {
  font-weight: 900;
  font-size: 12px;
  color: #737373;
}

.landing-section .landing-intro-container .landing-intro-wrapper h1 {
  color: #252b42;
  width: 95%;
  margin: auto;
  font-weight: 700;
}

.landing-section .landing-intro-container .landing-intro-wrapper p {
  color: #737373;
  margin-top: 1rem;
}

.landing-section .landing-intro-container .landing-intro-wrapper .landing-intro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-section .landing-intro-container .landing-intro-wrapper .landing-intro-btn button {
  width: 60%;
  margin: auto;
  margin-bottom: 0.7rem;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.landing-section .landing-intro-container .landing-intro-wrapper .landing-intro-btn .btn-playstore {
  background: #fa4a0c;
  color: #ffffff;
}

.landing-section .landing-intro-container .landing-intro-wrapper .landing-intro-btn .btn-appstore {
  background: transparent;
  border: 0.7px solid #fa4a0c;
  color: #fa4a0c;
}

.landing-section .landing-mockup1 {
  margin-top: -12rem;
}

.landing-section .account-container {
  margin-top: -3rem;
}

.landing-section .account-container .account-title {
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
  font-weight: 600;
}

.landing-section .account-container .account-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #e4e4e4;
  width: 100%;
}

.landing-section .account-container .account-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-section .account-container .account-wrapper .account-reg-container {
  width: 85%;
  margin: auto;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.landing-section .account-container .account-wrapper .account-reg-container h2 {
  color: #fa4a0c;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2rem;
}

.landing-section .account-container .account-wrapper .account-reg-container h1 {
  font-size: 40px;
  font-weight: bold;
  color: #252b42;
}

.landing-section .account-container .account-wrapper .account-reg-container p {
  padding-top: 2rem;
  font-size: 24px;
}

.landing-section .account-container .account-wrapper .mask2 {
  padding-left: 3rem;
}

.landing-section .download-container {
  background-color: #252b42;
  text-align: center;
  padding: 4rem;
  min-height: 30vh;
}

.landing-section .download-container h1 {
  color: #ffffff;
}

.landing-section .download-container p {
  color: #c7c7c7;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.landing-section .download-container .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-section .download-container .download-btn button {
  margin-left: 0.6rem;
  font-size: 12px;
  width: 70%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
}

.landing-section .download-container .download-btn .buy-now-btn {
  background: #fa4a0c;
  color: #ffffff;
}

.landing-section .download-container .download-btn .try-btn {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.landing-section .footer-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section .footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-section .footer-container ul li {
  list-style: none;
}

.landing-section .footer-container ul li .fa-facebook, .landing-section .footer-container ul li .fa-twitter, .landing-section .footer-container ul li .fa-linkedin {
  margin: 0.7rem;
  color: #fa4a0c;
}
/*# sourceMappingURL=landing.css.map */